image: node:24

build_publish_image:
  stage: build
  image: docker:26.0.2
  services:
    - docker:26.0.2-dind
  script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - docker build -t $DOCKERHUB_USERNAME/$PROJECT_NAME_DOCKERHUB -f Dockerfile_test .
    - docker push $DOCKERHUB_USERNAME/$PROJECT_NAME_DOCKERHUB
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == 'test'"
# update_docker_image:
#   stage: deploy
#   image: debian:stable
#   before_script:
#     - apt-get update
#     - apt-get install -y openssh-client
#     - mkdir -p ~/.ssh
#     - echo -e "$KEY_SSH" > ~/.ssh/temp_ssh_key.pem
#     - chmod 600 ~/.ssh/temp_ssh_key.pem
#   script:
#     - ssh -T -o StrictHostKeyChecking=no -i ~/.ssh/temp_ssh_key.pem admin@$PUBLIC_IP_EC2_INSTANCE "
#       export SMTP_HOST='$SMTP_HOST';
#       echo 'SMTP_HOST'=$SMTP_HOST;
#       export SMTP_USER='$SMTP_USER';
#       echo 'SMTP_USER'=$SMTP_USER;
#       export SMTP_PASS='$SMTP_PASS';
#       export CONTACT_TO='$CONTACT_TO';
#       docker compose pull &&
#       docker compose up -d
#       "
#     - rm ~/.ssh/temp_ssh_key.pem
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "test"'
#   dependencies:
#     - build_publish_image
