services:
  frontend:
    image: cristina_ghinda
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cristina_ghinda_container
    restart: unless-stopped
    # env_file: .env
    ports:
      - '3000:3000'
    volumes:
      - ./:/app
      - ./node_modules:/app/node_modules
      - ./.next:/app/.next
    environment:
      - NODE_ENV=development
    command: npm run dev
