@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);*/
  background: #f2f1ea;
  font-family: Arial, Helvetica, sans-serif;
}

.flash {
  transition: transform 0.9s ease;
}

.flash:hover {
  animation: shakeX 0.9s ease-in-out infinite;
}

@keyframes shakeX {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(15px);
  }
}
