@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --home: #f2f1ea;
  --light: #fefffd;
  --whiteColor: #ffffff;
  --black: #121413;
  --grey: #344955;
  --text: #757575;
}

body {
  /* color: var(--foreground);*/
  background: #f2f1ea;
  font-family: Geist, Arial, Helvetica, sans-serif;
}

.flash {
  transition: transform 0.9s ease;
}

.flash:hover {
  animation: shakeX 0.9s ease-in-out infinite;
}

@keyframes shakeX {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(15px);
  }
}

/* Conteneur : simple cercle vide */
.circle-container {
  width: 100px;
  height: 100px;
  border: 2px solid #0f0e0e; /* contour sombre */
  border-radius: 50%;
  position: relative;
  overflow: visible;
}

/* Wrapper qui fait tourner la boule */
.move-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: spin 4s linear infinite;
  transform-origin: center center;
}

/* La boule elle-même */
.ball {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #0f0e0e;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dark .circle-container {
  border-color: white;
}

.dark .ball {
  background: white;
}

/* Animation de rotation continue */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes hoverBounce {
  0%,
  100% {
    transform: scale(1) translateY(0);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  50% {
    transform: scale(1.05) translateY(-4px);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
  }
}

.hover-bounce:hover {
  animation: hoverBounce 1.5s ease-in-out infinite;
}
